*/notes.txt
*/*.o
*/*.out
*/test*.c
Linked_list/Linked_list_Doubly
Linked_list/Linked_list_Singly
Vector/linkedlist*
Stack/vector.h
Stack/linkedlist*
Graph_Theory
Sparse_Table
Trie
Union_Find
Fenwick_Tree
